@font-face {
	font-family: 'GothamPro';
	src: url("../assets/fonts/GothamPro.ttf");
}

@font-face {
	font-family: 'GothamProLight';
	src: url("../assets/fonts/GothamProLight.otf");
}

@font-face {
	font-family: 'GothamProBold';
	src: url("../assets/fonts/GothamProBold.otf");
}

input:focus {
	outline:none;
}



.tematic_submenu {
	background-color: #b6814f;
	width: 100%;
	height: 374px;
	display: none;
	position: absolute;
	color:white;
	font-family: "GothamPro";
	font-size: 17px;

}

#shoes_submenu_wrapper {
	display: grid;
	grid-template-columns: 160px 160px 160px 160px 320px;
	justify-content: center;

}

.tematic_submenu_main_item {
	margin-top: 42px;
}

.tematic_submenu_main_item > *:not(:first-child) {
	margin-top: 22px;

}

.tematic_submenu_main_item:not(:last-child) > * > * {
	
	cursor: pointer;
}

.tematic_submenu_main_item:first-child > *:not(:last-child) > * {
	padding-bottom: 2px;
	border-bottom:1px dotted white;
}


.tematic_submenu_main_item:first-child > *:not(:last-child) > *:hover {
	border:none;
}

.tematic_submenu_main_item:not(:first-child):not(:last-child) > * > *:hover {
	border-bottom:1px solid white;
}


#tematic_submenu_main_item__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 128px;
	height: 51px;
	border:1px solid #cca784;
}

#tematic_submenu_main_item_right_side h1 {
	font-family: "GothamProBold";
	font-size: 19px;
	margin:0;
}
#tematic_submenu_main_item_middle_wrapper {
	display: grid;
	grid-template-columns: 160px 160px;
}

#tematic_submenu_main_item_middle_wrapper > * > * {
	font-size: 16px;
	color:#ebded3;
}

#tematic_submenu_main_item_middle_wrapper > * > *:not(:first-child) {
	display: block;
	margin-top: 28px;
}

#tematic_submenu_main_item_middle_wrapper__button {
	height: 53px;
	width: 198px;
	border: 1px solid #cca784;
	display: flex;
	justify-content: center;
	align-items: center;
}


#close_icon_in_cart {
	margin-top: 12px;
	margin-left: 75%;
}


/*======================================================*/


::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#b6814f;
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#000;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 4px;
}


body {
	overflow-x: hidden;
	margin:0px;
}

#account_menu {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	background-color: rgba(245,245,245,0.95);
	display: none;

}

#account_menu_signature {
	text-align: center;
	font-family: "GothamPro";
}
#account_menu_signature h4 {
	font-size: 19px;

}

#account_menu_signature h5 {
	font-size: 16px;
	font-family: "GothamProLight";
}

#account_menu_inputs {
	text-align: center;
}

#account_menu_inputs input {
	width: 288px;
	height: 58px;
	font-family: "GothamProLight";
	font-size: 16px;
	border:1px solid black;
	padding-left:30px;
	margin-right: 30px;
}
#account_menu_inputs button {
	width: 200px;
	height: 62px;
	border:none;
	background-color: black;
	color:white;
	font-family: "GothamProLight";
	font-size: 16px;
}

#account_menu_logo {
	margin:80px auto 0px auto;
	height: 110px;
	width: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #caaa8c;
	border-radius: 50%;
}

#account_menu_checkbox input {
	border: none;
}

#account_menu_checkbox {
	margin-top: 20px;
	margin-left: 9.25%;
	font-family: "GothamProLight";
	font-size: 16px;
}


#account_close_icon {
	margin-top: 20px;
	margin-left: 96%;
}

.city_choose_menu {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	background-color: rgba(245,245,245,0.95);
	display: none;

}


.main_menu {
	width: 100%;
	height: 100%;
	z-index: 5;
	position: absolute;
	background-color: rgba(186,135,88,0.95);
	display: none;
}

#city_choose_menu_main_block_wrapper {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	
	margin: 0 auto;
	height: 386px;
	width: 920px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.hat_of_column {
	height: 65px;
}

.hat {
	display: grid;
	grid-template-columns: 320px 280px 300px;
	justify-content: center;
	margin-top:100px;
	margin-bottom: 10px;
}

#city_choose_menu_first_column *, #city_choose_menu_second_column *, #city_choose_menu_third_column *{
	display: block;
}

#city_choose_menu_first_column > span, #city_choose_menu_second_column > span, #city_choose_menu_third_column > span {
	font-size: 14px;
	font-family: "GothamProLight";
	
}

#city_close_icon {
	margin-top: 22px;
	margin-left: 22px;
}



#city_choose_menu_first_column > span:not(:first-child),#city_choose_menu_second_column > span:not(:first-child),#city_choose_menu_third_column > span:not(:first-child) {
margin-top: 20px;
}

.hat_of_column:nth-of-type(1) *{
	display: block;
	font-size: 19px;
	font-family: "GothamPro";
	color:#010101;
}

.hat_of_column:nth-of-type(1) *:first-child {
	margin-bottom: 20px;
}

.hat_of_column:nth-of-type(2) {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	border:1px solid #c19c78;
	border-radius: 50%;
	padding:25px;
}

.hat_of_column:nth-of-type(3) {
	border:1px solid black;
	height: 43px;
	margin-top: 20px;
	padding-top: 15px;
	padding-left: 10px;
}

.hat_of_column:nth-of-type(3) input {
	border:none;
	background-color: rgba(245,245,245, 0.1);
}

.wrapper {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 250px 250px 250px;
	justify-content: center;
}

#first_column {
	font-size: 19px;
	font-family: "GothamPro";
	color:#fff;
}

#first_column > *:not(:first-child) {
	margin-top: 30px;
}
#little_or {
	font-size: 14px;
	margin:10px 0px;
}
#do_not_know > *:not(:first-child) {
	display: block;
	
}

#third_column {
	font-size: 19px;
	font-family: "GothamPro";
	color:#fff;
	text-align: right;
}

#third_column > *:not(:first-child) {
	margin-top: 30px;
}

#input_wrapper {
	display: flex;
	align-items: center;
	border: 1px solid white;
	height: 58px;
	text-align: left;
	padding-left: 10px;

}
#input_wrapper input {
	border:none;
	margin-left: 10px;
	background-color: rgba(186,135,88,0.1);
}

#input_wrapper input:focus {
	outline: none;
}

#second_column {
	text-align: center;
	margin:0 auto;
	width: 120px;
	height: 120px;
	border: 1px solid white;
	border-radius: 50%;
}

.close_icon, #overlay_logo {
	display: inline-block;
	vertical-align: top;
}

.close_icon {
	width: 25px;

	margin: 35px 0px 0px 35px;
	
}

#overlay_logo {
	width: 270px;
	display: block;
	margin:0 auto;
	margin-top: -40px;
	overflow: hidden;
}

#first_column {

}

#cart_menu {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color:#fff;
	padding-top: calc(93px + 30px);
	margin-bottom: 
	
}
.wrapper_of_cart_menu_block {

	display: grid;
	grid-template-columns: 150px 320px 160px 160px 160px;
	justify-content: center;
	margin-bottom: 30px;
}

.cart_menu_description_of_product > *{
	display: block;
}
.cart_menu_description_of_product .cart_menu_description_of_product_heading {
	font-size: 21px;
	font-family: "GothamPro";
	margin-bottom: 10px;
	width: 250px;
}

.cart_menu_description_of_product > *:not(.cart_menu_description_of_product_heading) {
	font-family: "GothamProLight";
	font-size: 14px;
}

.cart_menu_cost_of_product {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	font-size: 16px;
	font-family: "GothamPro";
	justify-content: space-between;
}

.cart_menu_cost_of_product img {
	width: 7px;
	height: 7px;
	margin: 30px;
	cursor: pointer;
}

.cart_menu_counter_of_product {
	padding-top: 20px;
}

.cart_menu_counter_of_product input {
	width: 80px;
	height: 38px;
	text-align: right;
	font-size: 16px;
	font-family: "GothamPro";
	margin-right: 15px;

}

.cart_menu_counter_of_product span {
	color:#777;
}

.cart_menu_final_cost_of_product {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	font-size: 16px;
	font-family: "GothamPro";
}

.cart_menu_final_cost_of_product_img img{
	width: 11px;
	height: 11px;
}

.cart_menu_final_cost_of_product_img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border:1px solid #6a6a6a;
	border-radius: 50%;
	margin-left: 25px;
	margin-left:auto;
	margin-right: 38px;
	cursor: pointer;
}

/*------------*/

#main_wrapper {
	display: grid;
	grid-template-columns: 96px 226px 164px 476px 150px 98px 70px;

	
	grid-template-rows:120px;
	align-items: top;
}




.burger_menu {
	width: 33px;
	height: 1px;
	
	background-color: #6d6d6d;
	z-index: 1;
}

.burger_menu:not(:first-child) {
	margin-top: 11px;
}

#just {
	width: 33px;
	margin:0;
	margin-top: 34px;
	margin-left: 31px;
	overflow: hidden;
}

#burger {
	width: 93px;
	height: 93px;
	cursor: pointer;
	margin-right: 3.125%;
}

#burger:hover {
	
} 

#hover_wrapper {
	display: none;
	position: absolute;
	top:23px;
	left:31px;
}
.strip{
	width: 33px;
	height: 1px;
	
	margin-top: 11px;
	display: flex;
	justify-content: space-between;
}
.strip * {
	width: 1px;
	height: 1px;
	background-color: white;
	z-index: 0;

}




#first {
	font-size: 13px;
	font-family: "Arial";
	color:#888888;
	opacity: 0;
}


#GODDAMMIT{
	font-family: "GothamPro";
	font-size: 21px;
	color:#c19b77;
	
	float:left;
	margin-top: 6px;
	text-align: center;
	
}
#number {
	padding-top:12px;
	padding-left: 29px;
	margin:0px 3px;
	height: 81px;
	cursor: pointer;
	width: 191px;
}

#another_number_wrapper {
	display: none;
}


#city #exactly_city {
	font-family: "Arial";
	font-size: 14px;
	border-bottom: 1px dotted #999999;
	padding-bottom: 2px;
	color:#999999;
	float:left;
	margin-top: 8px;
}

#city #choose {
	font-family: "Arial";
	font-size: 13px;
	color:#888888;
	opacity: 0;
}

#city {
	padding-top: 11px;
	text-align: left;
	width: 163;
	margin-left: 3px;
	height: 82px;
	padding-left: 30px;
	cursor: pointer;
}
#city:hover {
	background-color: #f4f4f4;
	transition:background-color 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
}
#account_arrow {
	margin-left: 2px;
	margin-bottom: 2px;
	opacity: 0;
}

#city:hover #choose {
	
}

#city:hover #exactly_city {
	color:#000000;
}


#account span{
	font-family: "Arial";
	font-size: 14px;
	border-bottom: 1px dotted #999999;
	color:#999999;
	padding-bottom: 2px;

}

#account {
	padding-top: 34px;
	text-align: center;
	height: 59px;
	margin-right: 3px;
	cursor: pointer;
	width: 147px;
}

#account:hover {
	color:#000;
	background-color: #f4f4f4;
	transition:background-color 0.2s, color 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);

}

#account:hover #account_arrow {
	opacity: 1;
	transition:opacity 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
}

#account:hover span {
	color:#000000;
}

#account_icon {
	display: none;
}


#cart {
	margin-left: 3px;
	font-family: "GothamPro";
	font-size: 21px;
	display: flex;
	align-items: flex;
	padding-top: 25px;
	padding-left: 22px;
	height: 68px;
	cursor: pointer;
}

/*#cart:hover {
	background-color: #b6814f;
	color:white;
	transition:background-color 0.2s, color 0.1s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
}

#cart:hover #black {
	display: none;
}

#cart:hover #white {
	display: block;
}*/

#white {
	display: none;
}

#order_number {
	margin-top: 10px;
	margin-right: 15px;
	width: 15px;
}

#logo img{
	margin-left: 60px;
	cursor: pointer;

}	

#logo {
padding-top: 25px;
	
	overflow: hidden;
}

#short_logo {
	display: none;
}


#heart {
	width: 61px;
	margin:0px 3px 0px 3px;
	padding-top: 32px;
	padding-left: 31px;
	height: 61px;
	cursor: pointer;
}
#heart:hover {
	background-color: #f4f4f4;
	transition:background-color 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
}



/*--------------------------------------------*/

#second_part_bars_lower_wrapper {
	background-color: #f4f4f4;
	height: 60px;
}
#upper {
	display: grid;
	grid-template-columns: 190px 190px 190px;
	grid-template-rows: 60px;
	justify-content: center;
	margin-top:10px;
}

#female {
	background-color: #f4f4f4;
}

#upper > * {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "GothamProLight";
	font-size: 18px;
	cursor: pointer;
}

#upper *:not(#female):hover {
	color:#b6814f;
}

#second_part_bars_lower {
	display: grid;
	grid-template-columns: 190px 190px 190px;
	grid-template-rows: 60px;
	justify-content: center;
	font-size: 18px;
	font-family: "GothamProLight";
}
#second_part_bars_lower > * {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 161px;
	margin: 0 auto;
	cursor: pointer;
}

#search {
	position: absolute;
	right: 20px;
	top:200px;
	display: flex;
	padding-top: 8px;

}

#search div {
	font-size: 14px;
	font-family: "Arial";
	display: flex;
	align-items: center;
	width: 150px;
	padding: 5px;
}

#search div > * {
	margin-left: 15px;

}

#search div {
	cursor: pointer;
}
#search input {
	display: ;
	border: none;
	background-color: #f4f4f4;


}

#search input:focus {
	outline: none;

}

#another_city_wrapper {
	
	margin-left:calc(37% - 50px);
	display: none;
	width: 220px;
	
}
.your_city {
	display: none;
}

#another_city_wrapper:hover .city{
	color: #000;
	transition:color 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
}

#another_city_wrapper .city_arrow {
	opacity: 0;
	transform: rotate(90deg);
}



#another_city_wrapper .undefined_city{
	font-family: "Arial";
	font-size: 13px;
	color: #888888;
	display: none;
}

#another_city_wrapper .choose_city {
	font-family: "Arial";
	font-size: 13px;
	color: #888888;
	opacity: 0;
	margin-right: 10px;
}

#another_city_wrapper .city {
	font-family: "Arial";
	font-size: 14px;
	border-bottom: 1px dotted #999999;
	padding-bottom: 2px;
	color:#999999;
	
	cursor: pointer;
}



@media screen and (max-width: 1280px) {
  #city {
  	display: none;
  }
  #main_wrapper {
  	grid-template-columns: 10% 21% 37.1875% 14% 10% 8%;
  	grid-template-rows:93px 0px;
  }

  #logo img{
  	display: block;
  	margin:0 auto;
  }


#logo {
	height: 50px;
}

  #number {
  	width: 200px;
  }

#another_city_wrapper {
	display: block;
	margin-left:calc(37% - 30px);
}
#search {
	top:195px;
	right: 0px;
	width: 150px;
}

/*--------Main menu below---------------*/

.wrapper {
	grid-template-columns: 33% 33% 33%;
	
}

/*--------City choose menu below---------------*/

#account_menu_checkbox {
	margin-left: 2%;
}

#account_menu_inputs button {
	background-color: #b6814f;
}

}

@media screen and (min-width: 960px) {
	#number:hover {
	background-color: #f4f4f4;
	transition:background-color 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
	
}
#number:hover #first {
	opacity: 1;
	transition:opacity 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
}

#number:hover #GODDAMMIT {
	color:#000;
	transition:color 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
}
}


@media screen and (min-width: 640px) {
	#another_city_wrapper:hover .city_arrow {
	opacity: 1;
	transition:opacity 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);
}


#another_city_wrapper:hover .choose_city {
	opacity: 1;
	transition:opacity 0.2s;
	transition-timing-function: cubic-bezier(.35,.56,.61,.2);

}



}

@media screen and (max-width: 960px) {
	#main_wrapper {
  	grid-template-columns: 11% 26.5% 22% 18% 12% 12%;
  	grid-template-rows:93px 0px;
  }

	#another_city_wrapper {
	
		
	}

#lower {
		justify-content: left;
	}


	#search input{
		display: none;
	}
	#search {
		width: 25px;
	}

	#logo #fullsize_logo {
		display: none;
	}
	#logo {
		padding-top: 12px;
		height: 81px;
	}

	#short_logo {
		display: block;

	}
	#number {
		font-size: 19px;
		width: 170px;
		height: 61px;
		padding-left: 0px;
		padding-top: 10px;

	}
	#first {
	margin-top: 5px;
	opacity: 1;
	margin-left: 5px;
	}
	#number:hover {

	}

	#GODDAMMIT {
		margin-top: 0px;
		margin-left:5px;
		color:#000;
	}

	#burger {
		width: 73px;
		height: 73px;
	}
	#just {
		margin-top: 24px;
		margin-left: 21px;
	}
	#hover_wrapper {
		top:12px;
		left:21px;
	}
	#account {
		margin-left: 5%;
		padding-top: 20px;
		width: 117px;
		height: 53px;
	}
	#heart {

		width: 50px;
		height: 50px;
		padding:22px 0px 0px 22px;
	}

	#cart {
		padding-top: 12px;
		padding-left: 12px;
		height: 60px;
		margin-left: auto;
		float: left;
	}
	#another_city_wrapper {
		
		
	}

/*----------City menu below--------------------*/

	#city_choose_menu {
		width: 100%;
	}

	#city_choose_menu_main_block_wrapper {
		width: 100%;
		grid-template-columns: 33% 33% 33%;

	}

	#city_choose_menu_main_block_wrapper {
		margin-right:20px;
	}
	.hat {
		grid-template-columns: 33% 33% 33%;
	}
	#account_menu_inputs {
		text-align: left;
	}
	#account_menu_inputs #account_menu_inputs_first_input{
		margin-bottom: 20px;

	}

/*-----------SHOES SUBMENU-----------------*/

	.tematic_submenu_main_item:nth-of-type(1) {
		display: none;
	}

	#shoes_submenu_wrapper {
	grid-template-columns: 160px 160px 160px 160px;


	}

	#tematic_submenu_main_item_middle_wrapper {
	display: grid;
	grid-template-columns:160px;
	overflow-y: scroll;
	overflow-x: hidden; 
	height: 156px; 
	}
	
	#tematic_submenu_main_item_middle_wrapper *:not(:first-child) {
		margin-top: 23px;
	}

	#tematic_submenu_main_item_middle_wrapper__button {
		width: 118px;
	}
	#tematic_submenu_main_item_middle_wrapper__button img {
		display: none;
	}

	.wrapper_of_cart_menu_block {
	width: 640px;
	display: block;
	margin:0 auto;
	margin-bottom: 30px;
	}
	
	.cart_menu_image_of_product, .cart_menu_description_of_product {
		vertical-align: top;
		display: inline-block;
	}

	.cart_menu_description_of_product {
		margin-bottom: -20px;
	}

	.cart_menu_image_of_product {
		height: 2px;
		width: 160px;
	}
	.cart_menu_description_of_product {
		width: calc(100% - 165px);
	}

	.cart_menu_cost_of_product, .cart_menu_counter_of_product, .cart_menu_final_cost_of_product {
		
		display: inline-block;
	
	}

	.cart_menu_final_cost_of_product {
		width: 160px;
		padding-left: 20px;
	}

	.cart_menu_final_cost_of_product span:not(:last-child) {
		display: inline-block;

	}

	.cart_menu_cost_of_product {
		margin-left: 160px;
		margin-top: -200px;


	}
	.cart_menu_cost_of_product img {
		display: inline-block;
		margin-bottom: 0px;
	}

	#second_part_bars_lower {
	justify-content: left;
}



}



@media screen and (max-width: 640px) {

	#main_wrapper {
  	grid-template-columns: 17.5% 29% 19% 18.5% 16%;
  	grid-template-rows:93px 0px;
  }

	#lower_wrapper {
		padding-top: 10px;
		height: 50px;
	}

	#upper {
		display: none;
	}

	#search {
		display: flex;
		width: 100%;
		position: static;
		justify-content: space-between;


	}

	#search input {
		display: block;
		margin-left: 20px;

	}
	#search img {
		order: 1;
		margin-right: 20px;
	}

	#lower {
		display: none;
	}

	#account span, #account_arrow{
		display: none;
	}

	#burger {
		width: 55px;
	}


	#just {
		margin: 24px auto;
	}
	
	#hover_wrapper {
		top:14px;
		left: 10px;
	}
	
	#account {
		width: 58px;
	}
	#heart {
		padding: 24px 0px 0px 14px;
		width: 44px;
		height: 49px;
	}

	#choose_city {
		display: none;
	}

	#cart {
		width: 49px;
		font-size:21px;
		margin-left: auto;
		float: right;
	}
	#number {
		display: none;
	}
	#account_icon {
		display: block;
		margin: 4px auto;
	}
	#another_number_wrapper {
		display: block;
		height: 72px;
		width: 170px;
		padding-left: 10px;
	}
	#another_number_wrapper #Russia_free {
		font-family: "Arial";
		font-size: 13px;
		color:#aaa;
	}
	#another_number_wrapper #number_exactly {
		font-family: "GothamPro";
		font-size: 16px;
	}

	#another_city_wrapper {
		width: 130px;
		height: 72px;
		margin: 0px;
		padding-left: 10px;
	}

	#lower_part_wrapper {
		display: grid;
		grid-template-columns: 56.25% 43.75%;
	}
	.choose_city {
		display: none;
	}
	.your_city {
		display: block;
		font-size: 13px;
		font-family: 'Arial';
		color:#888888;
	}
	#lupa {
		position: absolute;
		left: 95%;
		top:188px;
		width: 20px;
		height: 20px;
	}
	#search_input {
		display: none;
		background-color: red;
	}
	#overlay_logo {
		height: 55px;
	}

	#second_column {
		display: none;
	}
	#input_wrapper {
		display: none;
	}

	#third_column,#first_column {
		
		text-align: left;
	}
	#second_part_bars_lower, #upper {
		display: none;
	}
	#search {
		width: 100%;
		background-color: #f4f4f4;
	}
	#search_input {
		margin-top: 15px;
	}
	#lupa {
		margin-top: 15px;
		position: static;
		float: right;
	}
	#first_column {
		order:1;
		margin-top: 60px;
	}
	#do_not_know {
		padding-top: 60px;
	}
	.wrapper {
		display: flex;
		justify-content: left;
		flex-direction: column;
		padding-left: 50px;
	}
}


@media screen and (max-width: 320px) {
	#main_wrapper {
		grid-template-columns: 55px 93px 58px 58px 61px;
	}
	#lower_part_wrapper {
	
		grid-template-columns: 180px 140px;
	}
}

@media screen and (min-width: 1281px) {
		#main_wrapper {
			grid-template-columns: 96px 226px 164px calc(100% - 972px) 226px 154px 126px;
		}
		
		#logo {
				margin:0 auto;
			}

		#logo img{
			margin: 0px;
		}
}


/*--------------------SEARCH SUBMENU------------------------*/

#search_submenu {
	width: 478px;
	
	border:1px solid #c3c3c3;
	overflow: hidden;
	margin-left: auto;
}

.search_submenu_upper_part_row {
	

	overflow: hidden;
	height: 55px;
	width: 800px;
}

.search_submenu_upper_part_row > * {
	display: inline-block;
	vertical-align: top;

}

.search_submenu_upper_part_row div {
	padding-left: 30px;
}

.search_submenu_upper_part_row:first-child {
	margin-top: 15px;
}
.search_submenu_upper_part_row:last-child {
	margin-bottom: 15px;
}


.search_submenu_upper_part_row > span {
	width: 90px;
	text-align: right;
	font-size: 12px;
	font-family: "Arial";
	color:gray;
}

.search_submenu_upper_part_row_block {
	display: inline-block;
	
	word-spacing: normal;


}

.search_submenu_upper_part_row_block > * {
	display: block;
	font-size: 16px;
	font-family: "GothamPro";
}
.search_submenu_upper_part_row_block span {
	border-bottom: 1px solid #d4d4d4;
	display: inline-block;
}

#search_submenu_lower_part {
	display: flex;
	height: 50px;
	background-color: #c3c3c3;
	color:#fff;
	font-size: 16px;
	font-family: "GothamPro";
	align-items: center;
	justify-content: center;
	cursor: pointer;
}




#search_submenu_upper_part_row_product_signature {
	font-family: "GothamPro";
	font-size: 16px;
	margin-bottom: 5px;
}

#search_submenu_upper_part_row_product_price {
	font-family: "GothamProLight";
	font-size: 16px;
}


/*--------------------------------------------------------------*/


